doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
        .banner 
            .banner__bg 
                .bg 
                    p Париж
                    img(src="img/flag.png", alt="France")
                p 2748 вариантов размещения
        section 
            h1 Только что забронировано
            article 
                img(src="img/1.jpg", alt="image1")
                .article__text 
                    p Гость из Франции
                    p забронировал проживание в: #[a(href="") Hotel Rayal Phare]
            article 
                img(src="img/2.jpg", alt="image2")
                .article__text 
                    p Гость из Франции
                    p забронировал проживание в: #[a(href="") Hotel Rayal Phare]
            article 
                img(src="img/3.jpg", alt="image3")
                .article__text 
                    p Гость из Франции
                    p забронировал проживание в: #[a(href="") Hotel Rayal Phare]